registry=http://3.109.153.126:8081/repository/backend-repo/
//3.109.153.126:8081/repository/backend-repo/:username=admin
//3.109.153.126:8081/repository/backend-repo/:_password=VmlrYXNAMTIz
//3.109.153.126:8081/repository/backend-repo/:always-auth=true
